<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1020804801164-ctcn03u04ri5e88sk9gvkq6jjolrraak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020804801164-ctcn03u04ri5e88sk9gvkq6jjolrraak</string>
	<key>API_KEY</key>
	<string>AIzaSyAow3m2r2ZhyKpHK34M5HNOgoj7fJ8wA4g</string>
	<key>GCM_SENDER_ID</key>
	<string>1020804801164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashwatkashyap.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>wechat-ab7d0</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-ab7d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020804801164:ios:547d6821cc360b46</string>
	<key>DATABASE_URL</key>
	<string>https://wechat-ab7d0.firebaseio.com</string>
</dict>
</plist>